@model Restarter.Models.HomeViewModels.AllServersViewModel
@{
    ViewData["Title"] = "所有设备";
}
<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="AllServers">All Servers</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-inbox ico"></i>
            All Buckets Of Object Storage Service
        </div>
        <div class="card-body">
            <div class="col-xs-12">
                <table class="table table-striped datatable">
                    <thead>
                        <tr>
                            <th>服务器名称</th>
                            <th>域名</th>
                            <th>所属负责人</th>
                            <th>主要用途</th>
                            <th>生产商</th>
                            <th style="width: 460px">Operation</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var server in Model.Servers)
                        {
                            <tr>
                                <td>@server.Name</td>
                                <td>@server.InDomainName</td>
                                <td>@server.Owner</td>
                                <td>@server.UsageA</td>
                                <td>@server.Architect</td>
                                <td>
                                    <div class="btn-group">
                                        <i class="fa fa-refresh fa-spin"></i>
                                        <a asp-controller="Home" asp-action="Restart" asp-route-id="@server.Id" class="btn btn-secondary waves-effect waves-light">立即重启</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="col-md-12 margin-top-30">
                    <a asp-controller="Index" asp-action="Add" class="btn btn-success">添加机器</a>
                </div>
            </div>
        </div>
    </div>
</div>
