@model Restarter.Models.HomeViewModels.AllServersViewModel
@{
    ViewData["Title"] = "所有设备";
}
<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">仪表板</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="AllServers">所有设备</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-inbox ico"></i>
            所有资产表中服务器
        </div>
        <div class="card-body">
            <div class="col-xs-12">
                <table class="table table-striped datatable">
                    <thead>
                        <tr>
                            <th>服务器名称</th>
                            <th>域名</th>
                            <th>所属负责人</th>
                            <th>主要用途</th>
                            <th>生产厂商</th>
                            <th>健康监视器</th>
                            <th style="width: 460px">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var server in Model.Servers)
                        {
                            <tr>
                                <td>@server.Name</td>
                                <td>@server.InDomainName</td>
                                <td>@server.Owner</td>
                                <td>@server.UsageA</td>
                                <td>@server.VMArchitect</td>
                                <td>@(server.Monitor?.MonitorName ?? "未指定健康监视器")</td>
                                <td>
                                    @if (server.InDomainName.Contains("未加入") || server.InDomainName.Contains("无法加入"))
                                    {
                                        <div class="btn-group">
                                            <a class="btn btn-secondary waves-effect waves-light" disable="disable">
                                                无法远程管理
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="btn-group">
                                            <a href="javascript:restart('@server.Id', true)" class="btn btn-danger waves-effect waves-light">
                                                <i class="fa fa-refresh"></i>
                                                立即重启
                                            </a>
                                            <a href="javascript:restart('@server.Id', false)" class="btn btn-warning waves-effect waves-light">
                                                <i class="fa fa-power-off"></i>
                                                立即关机
                                            </a>
                                            <a class="btn btn-success" asp-controller="Home" asp-action="Edit" asp-route-id="@server.Id">编辑</a>
                                        </div>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="col-md-12 margin-top-30">
                    <a asp-controller="Index" asp-action="Add" class="btn btn-success">添加机器</a>
                    <a href="http://202.118.17.79/reports/" target="_blank" class="btn btn-primary">下载报表</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section js{
    <script>
        var restart = function (id, restart) {
            var text = '关闭';
            var apiaddress = '/home/shutdown/';
            if (restart) {
                text = '重启';
                apiaddress = '/home/restart/';
            }
            swal({
                title: text,
                text: "请确认该操作对目前的业务的影响。这将强制" + text + "目标服务器。",
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: '放弃' + text,
                cancelButtonText: '强制' + text,
                cancelButtonColor: '#d33',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger'
            }).then((result) => {
                if (!result.value) {
                    swal({
                        title: '正在' + text + '...',
                        text: text + '结果将在几秒后提示……',
                        timer: 10000,
                        type: 'success',
                        onOpen: () => {
                            swal.showLoading();
                        }
                    }).then(() => {
                        $.get(apiaddress + id, function (data) {
                            if (data.code == 0) {
                                swal({
                                    title: '服务器' + text + '成功！',
                                    showConfirmButton: false,
                                    timer: 1300,
                                    type: 'success'
                                })
                            } else {
                                swal({
                                    title: '服务器' + text + '失败！',
                                    showConfirmButton: false,
                                    timer: 1300,
                                    type: 'error'
                                })
                            }
                        });
                    });
                } else {
                    swal({
                        title: '未重启该服务器',
                        showConfirmButton: false,
                        timer: 1300,
                        type: 'success'
                    });
                }
            });
        }
    </script>
}