@model Restarter.Models.HomeViewModels.AllServersViewModel
@{
    ViewData["Title"] = "所有设备";
}
<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">仪表板</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="AllServers">所有设备</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-inbox ico"></i>
            All Buckets Of Object Storage Service
        </div>
        <div class="card-body">
            <div class="col-xs-12">
                <table class="table table-striped datatable">
                    <thead>
                        <tr>
                            <th>服务器名称</th>
                            <th>域名</th>
                            <th>所属负责人</th>
                            <th>主要用途</th>
                            <th>架构</th>
                            <th>生产厂商</th>
                            <th style="width: 460px">Operation</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var server in Model.Servers)
                        {
                            <tr>
                                <td>@server.Name</td>
                                <td>@server.InDomainName</td>
                                <td>@server.Owner</td>
                                <td>@server.UsageA</td>
                                <td>@server.Architect</td>
                                <td>@server.VMArchitect</td>
                                <td>
                                    @if (server.InDomainName.Contains("未加入") || server.InDomainName.Contains("无法加入"))
                                    {
                                        <div class="btn-group">
                                            <a class="btn btn-secondary waves-effect waves-light" disable="disable">
                                                无法远程管理
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="btn-group">
                                            <a href="javascript:restart('@server.Id', true)" class="btn btn-danger waves-effect waves-light">
                                                <i class="fa fa-refresh"></i>
                                                立即重启
                                            </a>
                                        </div>
                                        <div class="btn-group">
                                            <a href="javascript:restart('@server.Id', false)" class="btn btn-warning waves-effect waves-light">
                                                <i class="fa fa-refresh"></i>
                                                立即关机
                                            </a>
                                        </div>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="col-md-12 margin-top-30">
                    <a asp-controller="Index" asp-action="Add" class="btn btn-success">添加机器</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section js{
    <script>
        var restart = function (id, restart) {
            swal({
                title: '重启该服务',
                text: "请确认该操作对目前的业务的影响。这将强制重启目标服务器。",
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: '放弃重启',
                cancelButtonText: '强制重启',
                cancelButtonColor: '#d33',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger'
            }).then((result) => {
                if (!result.value) {
                    swal({
                        title: '正在重启...',
                        text: '重启结果将在几秒后提示……',
                        timer: 10000,
                        type: 'success',
                        onOpen: () => {
                            swal.showLoading();
                        }
                    }).then(() => {
                        if (restart) {
                            $.get('/home/restart/' + id, function (data) {
                                if (data.code == 0) {
                                    swal({
                                        title: '服务器重启成功！',
                                        showConfirmButton: false,
                                        timer: 1300,
                                        type: 'success'
                                    })
                                } else {
                                    swal({
                                        title: '服务器重启失败！',
                                        showConfirmButton: false,
                                        timer: 1300,
                                        type: 'error'
                                    })
                                }
                            });
                        } else {
                            $.get('/home/shutdown/' + id, function (data) {
                                if (data.code == 0) {
                                    swal({
                                        title: '服务器关机成功！',
                                        showConfirmButton: false,
                                        timer: 1300,
                                        type: 'success'
                                    })
                                } else {
                                    swal({
                                        title: '远程命令执行失败！',
                                        showConfirmButton: false,
                                        timer: 1300,
                                        type: 'error'
                                    })
                                }
                            });
                        }
                    });
                } else {
                    swal({
                        title: '未重启该服务器',
                        showConfirmButton: false,
                        timer: 1300,
                        type: 'success'
                    });
                }
            });
        }
    </script>
}