@model Restarter.Models.HomeViewModels.AllServersViewModel
@{
    ViewData["Title"] = "所有设备";
}
<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="AllServers">All Servers</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-inbox ico"></i>
            All Buckets Of Object Storage Service
        </div>
        <div class="card-body">
            <div class="col-xs-12">
                <table class="table table-striped datatable">
                    <thead>
                        <tr>
                            <th>服务器名称</th>
                            <th>域名</th>
                            <th>所属负责人</th>
                            <th>主要用途</th>
                            <th>生产商</th>
                            <th style="width: 460px">Operation</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var server in Model.Servers)
                        {
                            <tr>
                                <td>@server.Name</td>
                                <td>@server.InDomainName</td>
                                <td>@server.Owner</td>
                                <td>@server.UsageA</td>
                                <td>@server.Architect</td>
                                <td>
                                    <div class="btn-group">
                                        <a href="javascript:restart('@server.Id')" class="btn btn-danger waves-effect waves-light">
                                            <i class="fa fa-refresh fa-spin"></i>
                                            立即重启
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="col-md-12 margin-top-30">
                    <a asp-controller="Index" asp-action="Add" class="btn btn-success">添加机器</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section js{
    <script>
        var restart = function (id) {
            swal({
                title: '课程安全',
                text: "请确认你是否使用了与用户名相同的密码。\r\n这有极高的风险可能会导致你的课程被恶意删除。",
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: '已修改密码',
                cancelButtonText: '立即修改',
                cancelButtonColor: '#d33',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger'
            }).then((result) => {
                if (!result.value) {
                    swal({
                        title: '正在重定向...',
                        text: '请在密码修改完成后再登录选课平台。',
                        timer: 2000,
                        type: 'success',
                        onOpen: () => {
                            swal.showLoading();
                        }
                    }).then(() => {
                        location.href = "https://zhjw.neu.edu.cn/ACTIONCHANGEPASSWORD.APPPROCESS";
                    });
                } else {
                    swal({
                        title: '可以开始选课了',
                        showConfirmButton: false,
                        timer: 1300,
                        type: 'success'
                    })
                }
            });
        }
    </script>
}