@model IEnumerable<Restarter.Models.AuditLog>

@{
    ViewData["Title"] = "审计日志";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Operator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Action)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Operator)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Action)
                </td>
            </tr>
        }
    </tbody>
</table>
